@font-face {
    font-family: 'star-wars';
    src: url("../assets/fonts/Starjedi.ttf");
}

*{
    margin: 0;
    padding: 0;
    font-family: 'star-wars', serif;
}

.titre a{
    text-decoration: none;
}

.ul-menu{
    list-style-type: none;
}

.ul-menu li{
    display: inline;
    float: left;
    margin: 1em;
}

.ul-menu li a{
    display: block;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

body{
    background-image: url("../assets/imgs/starry_sky.jpg")   
}
#background-films {
    width: auto;
    background-image: url("");

}