@font-face {
    font-family: 'star-wars';
    src: url("../assets/fonts/Starjedi.ttf");
}

*{
    margin: 0;
    padding: 0;
    font-family: 'star-wars', serif;
    color : #FFF;
}

.titre a{
    margin-top : 20px;
    background-color: transparent;
    width: 25%;
    content: url("../assets/imgs/titre.png");
    font-size: xx-large;
    text-decoration: underline;
    text-decoration-color: #ffe81f;
}

.ul-menu{
    list-style-type: none;
    font-size: large;
    text-decoration: underline;
    text-decoration-color: #ffe81f;
}

.ul-menu li{
    display: inline;
    float: left;
    margin: 1em;
    font-size: large;
    text-decoration: underline;
    text-decoration-color: #ffe81f;
}

.ul-menu li a{
    display: block;
    padding: 5px;
    text-align: center;
    font-size: large;
    text-decoration: underline;
    text-decoration-color: #ffe81f;
}

body{
    background-image: url("../assets/imgs/starry_sky.jpg");
}

div.image-films {
    background-color: transparent;
    margin-top: -170px;
    margin-left: auto;
    width: 30%;
    content: url("../assets/imgs/mando.png");

}

div.image-charactere {
    background-color: transparent;
    margin-top: -170px;
    margin-left: auto;
    width: 30%;
    content: url("../assets/imgs/grogu.png");
}


#reponses-films {
    color : #FFF;
    float: left; 
    margin-top : 200px;
    margin-left:-350px;
}

#deploiement-films2 {
    color : #000;
    float: left; 
    margin-top : 200px;
}
#deploiement-films3 {
    color : #000;
    float: left; 
    margin-top : 200px;
}
#deploiement-films4 {
    color : #000;
    float: left; 
    margin-top : 200px;
}
#deploiement-films5 {
    color : #000;
    float: left; 
    margin-top : 200px;
}
#deploiement-films6 {
    color : #000;
    float: left; 
    margin-top : 200px;
}